*{
 box-sizing: border-box;
}

img{
    width: 100%;
}

body{
    color:#2B3F48;
    font-family: 'News Cycle',
    Arial,
    Helvetica,
    sans-serif;
    font-size: 17px;
    background-color: rgba(0,0,0,.8);
}

h1{
    font-size: 55px;
    margin:0;
    text-align: center;
}

h2{
    font-size:34px;
    text-align: center;
}

p{
    text-align: center;
}

button{
    text-align: center;
    border-radius: 10px;
    width: 260px;
    height: 70px;  
}
.wrapper{
    width: 100%;
    margin: 0 auto;
   
}

#wrap1, #wrap3, #wrap5{
    background-color: rgb(238,238,238);
}

#wrap1{
    height: 104px;
    display: flex;
}

#wrap1 .travail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
display: flex;
}
nav ul{
width: 530PX;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: -40px;

}

ul li{
    list-style: none;
}

li a{
    text-decoration: none;
}

li a:hover{
    color:rgb(39, 174, 97);
}

a:link, a:visited{
color :#2B3F48
}

h3{
    font-size: 22px;
    text-align: center;
    margin:0;
    font-weight: normal;
}

#wrap2{
    background-image: url("/images/banner.png");
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    background-color: rgba(39, 174, 97, .8);
    height: 825px;
    color: rgba(255, 255, 255, .8);
  
}

#button-wrap2{
    background-color:#2b3f48;
    border: none;
    padding-top: 0px;
    margin-top: 100px;
}

#button-wrap2 a{
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
 
}

.content{
    display: contents;
}

#wrap2 .travail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-img{
    padding-top:117px;
    display: flex;
    width: 565px;
    justify-content: space-between;
}

.radius{
    width: 160px;
}

.radius img{
    border-radius: 50%;
}

.travail{
    width: 1000px;
    margin: 0 auto;
      
}

#wrap3{
    height: 615px;
}

#wrap3 .travail {

    display: flex;
    flex-direction: column;
    align-items: center;

}

#wrap3 .travail div h1{
    padding-top: 70px;
}

#button-wrap3 {
    background-color: rgba(39, 174, 97, .8);
    border: none;
    padding-top: 0px;
    
}

#button-wrap3 a {
    color: rgba(255, 255, 255, .8);
    text-decoration: none;

}

#wrap3 .travail .content p{
    margin-bottom : 0px;
    margin-top : 0px;
    line-height: 35px
}
#wrap3 .travail .content p:nth-of-type(1){
   margin-top: 30px;
}
#wrap3 .travail .content p:nth-of-type(3){
    margin-bottom: 90px;
 }

#wrap4{
    background-color:rgba(39, 174, 97,.8);
    height: 600px;
    color: #fff;
}

#wrap4 .travail div h1{
    padding-top: 70px;
}
#wrap4 .travail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrap4 .travail .content p{
    margin-bottom : 0px;
    margin-top : 0px;
    line-height: 35px;
    color:rgba(255,255,255,.8);
}

#wrap4 .travail .content p:nth-of-type(1){
   margin-top: 30px;
}
#wrap4 .travail .content p:nth-of-type(3){
    margin-bottom: 90px;
 }
 #wrap4 .travail div h3{
     color: rgba(255,255,255,.5)
 }

#button-wrap4 a {
    color: rgba(39, 174, 97,.8);
    text-decoration: none;

}
.content p a{
    color: #fff;
}

#wrap5{
    height: 205px;
    display: flex;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}